* {
  /* margin-top: 10px; */
  /* background-color: rgb(31, 31, 31); */
  color: white;
}

img {
  height: 80px;
}

.h4-head {
  margin-top: -20px;
  margin-left: 210px;
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
}

header {
  background-color: rgb(30, 30, 30);
  position: inherit;
  padding-top: 20px;
}

.main-header-1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.head-text {
  margin-top: 20px;
  text-align: center;
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header3 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.h6-head {
  padding: 15px;
  border: 1px solid white;
  border-radius: 30px;
}

.head-span {
  font-weight: 900;
}

/* .main-header{
  position: relative;
  background-color: black;
} */

.sec1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.lower-sec img {
  height: 400px;
  margin-bottom: -120px;
  margin-left: -200px;
}

.lower-sec-img2 {
  height: 90px;
  width: 300px;
}

.lower-sec-img {
  height: 40px;
}

.lower-sec2 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .lower-sec img {
    width: 100%;
    height: auto;
    margin-top: -60px;
  }
}
