* {
  margin-top: 10px;
  background-color: rgb(31, 31, 31);
  color: white;
}

img {
  height: 80px;
}

.h4-head {
  margin-top: -20px;
  margin-left: 100px;
  font-weight: 100;
  font-size: medium;
}

.main-header-1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.head-text {
  margin-top: 20px;
  text-align: center;
}

.header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header3 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.h6-head {
  padding: 15px;
  border: 1px solid white;
  border-radius: 30px;
}

.head-span {
  font-weight: 900;
}

.sec1 {
  display: flex;
  justify-content: space-between;
}

.lower-sec img {
  height: 400px;
  margin-top: -60px;
}

.lower-sec-img2 {
  height: 90px;
  width: 300px;
}

.lower-sec-img {
  height: 40px;
}

.lower-sec2 {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {

    .lower-sec img {
        width: 100%;
        height: auto;
        margin-top: -60px;
      }
      
}
